# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

**/.DS_Store
*.env

# Distribution / packaging
**/.idea/
bin/
**/.DS_Store
*.env
**/.idea/
**/.Rhistory
**/db.sqlite3
**/migrations/*

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log

