{% load static %}
<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Nano on Tap</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}" />
      <link href="{% static "css/main.css" %}" rel="stylesheet">
      <link href="{% static "css/font-style.css" %}"  rel="stylesheet">
      <script type="text/javascript" src="{% static "js/jquery.js" %}" ></script>
      <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}" ></script>
      <script type="text/javascript" src="{% static "js/noty/jquery.noty.js" %}" ></script>
      {{ room_name|json_script:"room-name" }}
      <script>
         const chatSocket = new WebSocket(
             'ws://'
             + window.location.host
             + '/ws/message/action'
         );

         chatSocket.onmessage = function(e) {
             const data = JSON.parse(e.data);
             console.log(data)
         if(data.type == "transaction_pending")
         {
          	document.getElementById('device').innerHTML = "Device: "+data.message.message.device;
          	document.getElementById('token').innerHTML = "Token: "+data.message.message.token;

			document.getElementById("loader").classList.remove('loader-plain');
          	document.getElementById("loader").classList.add('loader');
         }
         else
         {

            document.getElementById('device').innerHTML = "Device:"
          	document.getElementById('token').innerHTML = "Token:"
          	document.getElementById("loader").classList.remove('loader');
          	document.getElementById("loader").classList.add('loader-plain');


         for (var i = 1; i <= data.players.length; i++)
         {
         document.getElementById('balance'+i.toString()).innerHTML = data.players[i-1].balance;
         document.getElementById('betting'+i.toString()).innerHTML = data.players[i-1].betting;
         document.getElementById('gains'+i.toString()).innerHTML = data.players[i-1].betting;
         document.getElementById('address'+i.toString()).innerHTML = data.players[i-1].address.substring(0,20)+"...";
         }
         document.getElementById('currentpot').innerHTML = data.currentpot;
         document.getElementById('totaltransfered').innerHTML = data.totaltransfered;
         document.getElementById('totaltransactions').innerHTML = data.totaltransactions;

         var transactions = document.getElementById("transactions");
         while(transactions.firstChild ){
         transactions.removeChild(transactions.firstChild );
         }

         for(var i = 0; i < data.transactions.length; i++)
         {
         var li = document.createElement("li")

         var origin = "..."
         var destination = "..."
         if (data.transactions[i].fields.origin != null)
         {
         origin = data.transactions[i].fields.origin.substring(2, data.transactions[i].fields.origin.length - 2)
         destination = data.transactions[i].fields.destination.substring(2, data.transactions[i].fields.destination.length - 2)
         }
         var amount = data.transactions[i].fields.amount.substring(0, 3)
         li.appendChild(document.createTextNode("From " + origin + " moved " + amount + " Nano to " + destination + " "+ data.transactions[i].fields.transaction_hash_sending + " | " + data.transactions[i].fields.transaction_hash_receiving));
         li.setAttribute("class", "graph-info-medium");
         transactions.append(li);
         }

         var actions = document.getElementById("actions");
         while(actions.firstChild ){
         actions.removeChild(actions.firstChild );
         }

         for(var i = 0; i < data.actions.length; i++)
         {
         var li = document.createElement("li")
         var res = data.actions[i].fields.executed_time.substring(11, data.actions[i].fields.executed_time.length - 13);
         li.appendChild(document.createTextNode( res+ "| "+ data.actions[i].fields.action_name + "| " + data.actions[i].fields.policy_name));
         li.setAttribute("class", "graph-info-medium");
         actions.append(li);
         }

         }
         };

         chatSocket.onclose = function(e) {
             console.error('Socket closed unexpectedly');
         };

      </script>
      <style type="text/css">
         body {
         padding-top: 60px;
         }
      </style>
      <!-- Google Fonts call. Font Used Open Sans & Raleway -->
      <link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
   </head>
   <body>
      <div class="container-fluid" style="max-width:80%">
         <div class="row">
            <div class="col-sm-3 col-lg-3">
               <div class="dash-unit">
                  <dtitle>Pending Actions</dtitle>
                  <hr>
				   <div id="loader" class="loader-plain"></div>
                  <div class="cont">
                     <p>
                        <bold id="device">...</bold>
                     </p>
                     <p>
                        <bold id="token">...</bold>
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-sm-3 col-lg-3">
               <div class="dash-unit">
                  <dtitle>Player One</dtitle>
                  <hr>
                  <div class="cont">
                     <p>
                        <bold id="balance1">879</bold>
                        <small> Nano</small> |
                        <ok> Balance</ok>
                     </p>
                     <br>
                     <p>
                        <bold id="betting1">1 </bold>
                        <small>Nano</small> |
                        <bad>Betting</bad>
                     </p>
                     <br>
                     <p>
                        <bold id="gains1">432 </bold>
                        <small>Nano</small> | Gains (Loss)
                     </p>
                     <br>
                     <p><span aria-hidden="true" class="li_user fs1" id="address1"> nano_fhaijfafdns</span></p>
                  </div>
               </div>
            </div>
            <!-- LAST MONTH REVENUE -->
            <div class="col-sm-3 col-lg-3">
               <div class="dash-unit">
                  <dtitle>Player Two</dtitle>
                  <hr>
                  <div class="cont">
                     <p>
                        <bold id="balance2">879 </bold>
                        <small>Nano</small> |
                        <ok> Balance</ok>
                     </p>
                     <br>
                     <p>
                        <bold id="betting2">1 </bold>
                        <small>Nano</small> |
                        <bad>Betting</bad>
                     </p>
                     <br>
                     <p>
                        <bold id="gains2">432 </bold>
                        <small>Nano</small> | Gains (Loss)
                     </p>
                     <br>
                     <p><span aria-hidden="true" class="li_user fs1" id="address2"> nano_fhaijfafdns</span></p>
                  </div>
               </div>
            </div>
            <style>
               .loader {
               border: 16px solid #808080;
               margin: 0 auto;
               border-radius: 50%;
               border-top: 16px solid #282828;
               width: 90px;
               height: 90px;
               -webkit-animation: spin 2s linear infinite; /* Safari */
               animation: spin 2s linear infinite;
               }
               /* Safari */
               @-webkit-keyframes spin {
               0% { -webkit-transform: rotate(0deg); }
               100% { -webkit-transform: rotate(360deg); }
               }
               @keyframes spin {
               0% { transform: rotate(0deg); }
               100% { transform: rotate(360deg); }
               }

               .loader-plain {
               border: 16px solid #707070;
               margin: 0 auto;
               border-radius: 50%;
               width: 90px;
               height: 90px;
               }
            </style>
            <div class="col-sm-3 col-lg-3">
               <div class="dash-unit">
                  <dtitle>Nano On Tap</dtitle>
                  <hr>
                  <div class="thumbnail">
                     <img src="{% static "images/face80x80.jpg" %}" alt="Marcel Newman" class="img-circle">
                  </div>
                  <h1>Nano On Tap</h1>
                  <h3>Control the flow.</h3>
                  <br>
               </div>
            </div>
            <div class="col-sm-3 col-lg-3">
               <div class="half-unit">
                  <dtitle>Current Pot</dtitle>
                  <hr>
                  <div class="cont">
                     <p>
                        <img src="{% static "images/pot.png" %}" alt="">
                        <bold id="currentpot">1001</bold>
                        | Nano
                  </div>
               </div>
            </div>
            <div class="col-sm-3 col-lg-3">
               <div class="half-unit">
                  <dtitle>Total Nano Transfered</dtitle>
                  <hr>
                  <div class="cont">
                     <p>
                        <img src="{% static "images/total.png"  %}" alt="">
                        <bold id="totaltransfered"></bold>
                        | Nano
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-sm-3 col-lg-3">
               <div class="half-unit">
                  <dtitle>Total Transactions</dtitle>
                  <hr>
                  <div class="cont">
                     <p>
                        <img src="{% static "images/transactions.png"  %}" alt="">
                        <bold id="totaltransactions"></bold>
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-sm-3 col-lg-3">
               <div class="half-unit">
                  <dtitle>Total Fees</dtitle>
                  <hr>
                  <div class="cont">
                     <p>
                        <img src="{% static "images/free.png"  %}" alt="">
                        <bold>0</bold>
                        | Nano
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-lg-6">
               <div class="dash-unit">
                  <dtitle>Transactions</dtitle>
                  <hr>
                  <ul id="transactions" >
                  </ul>
               </div>
            </div>
            <div class="col-sm-6 col-lg-6">
               <div class="dash-unit">
                  <dtitle>Actions and Polices</dtitle>
                  <hr>
                  <ul id="actions">
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div id="footerwrap">
         <footer class="clearfix"></footer>
         <div class="container">
            <div class="row">
               <div class="col-sm-12 col-lg-12">
                  <p><img src="{% static "images/logo.png" %}" alt=""></p>
                  <h2>Powered by Nano On Tap</h2>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>